*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f0f0;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) {
  .section {
    width: 290px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    position: relative;
    width: 768px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    margin-bottom: 0;
  }
}

.pages {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .pages {
    margin-bottom: 60px;
  }
}

.page-number {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
  cursor: pointer;
}

.page-number:hover, .page-number:focus {
  background-color: #000000;
  color: #ffffff;
}

.page-number:not(:last-child) {
  margin-right: 1px;
}

.icon-arrow {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .icon-arrow {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .icon-arrow.left {
    top: 16px;
    left: 22px;
  }
  .icon-arrow.right {
    top: 16px;
    right: 22px;
  }
}

.icon-arrow.left {
  top: 16px;
  left: 22px;
}

.icon-arrow.right {
  top: 16px;
  right: 22px;
}

.menu-button {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 22px 23px 27px;
  border-style: none;
  background-color: #f3f0f0;
  border-right: 1px solid #000000;
  cursor: pointer;
}

.icon-burger {
  width: 20px;
  height: 20px;
  background-size: contain;
}

.logo {
  position: absolute;
  top: 26px;
  left: 50%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.icon-search {
  position: absolute;
  bottom: 50%;
  right: 24.5px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .icon-search {
    bottom: 70%;
    left: 25px;
  }
}

.header {
  position: relative;
  display: flexbox;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  border-bottom: 1px solid #000000;
  height: 69px;
}

@media screen and (min-width: 320px) {
  .header {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    margin-bottom: 0;
    height: 143px;
  }
}

.reset-btn {
  display: none;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 320px) {
  .reset-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background-color: #f3f0f0;
    cursor: pointer;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 22px;
    margin-left: auto;
    padding: 24px;
  }
}

.reset-btn::before {
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(../../images/reset-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 14px;
}

.sale {
  position: relative;
}

.hide {
  position: absolute;
  color: transparent;
  width: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .features {
    width: 340px;
    padding-left: 50px;
    margin-bottom: 19px;
  }
}

.chapter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.link-all {
  border-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff6b09;
  background-color: #f3f0f0;
  cursor: pointer;
}

.card {
  width: 290px;
  height: 350px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 352px;
    height: 350px;
    margin-bottom: 0;
  }
}

.cards {
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 768px) {
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
}

.card-img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card-img {
    width: 352px;
    height: 275px;
  }
}

.title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 4px;
}

.discount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.price-before {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #bbbbbb;
  margin-right: 10px;
}

.price-now {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #ff6b09;
}

.price {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #000000;
}

.info {
  margin-left: 19px;
  margin-bottom: 20px;
}

.footer {
  background-color: #ffffff;
  width: 320px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .footer {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}

.nav {
  display: none;
  height: 70px;
  width: 768px;
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.icon-user {
  width: 17px;
  height: 20px;
  margin-right: 21px;
  cursor: pointer;
}

.nav-button {
  width: 188px;
  height: 69px;
  background-color: #ff6b09;
  border-color: transparent;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .nav-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    width: 214px;
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 22px;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */