*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f0f0;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

.section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) {
  .section {
    width: 290px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    position: relative;
    width: 768px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    margin-bottom: 0;
  }
}

.pages {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 768px) {
  .pages {
    margin-bottom: 60px;
  }
}

.page-number {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
  cursor: pointer;
}

.page-number:hover, .page-number:focus {
  background-color: #000000;
  color: #ffffff;
}

.page-number:not(:last-child) {
  margin-right: 1px;
}

.icon-arrow {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .icon-arrow {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .icon-arrow.left {
    top: 16px;
    left: 22px;
  }
  .icon-arrow.right {
    top: 16px;
    right: 22px;
  }
}

.icon-arrow.left {
  top: 16px;
  left: 22px;
}

.icon-arrow.right {
  top: 16px;
  right: 22px;
}

.menu-button {
  padding: 30px 25px;
  border-style: none;
  background-color: #f3f0f0;
  border-right: 1px solid #000000;
  cursor: pointer;
}

.icon-burger {
  width: 15px;
  height: 10px;
  background-size: contain;
}

.logo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #000000;
}

.icon-search {
  width: 17.5px;
  height: 17.5px;
  margin-right: 24.5px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  position: relative;
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 320px) {
  .header {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 768px;
    margin-bottom: 0;
  }
}

.sale {
  position: relative;
}

.hide {
  position: absolute;
  color: transparent;
  width: 0;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

@media screen and (min-width: 768px) {
  .features {
    width: 340px;
    padding-left: 50px;
    margin-bottom: 19px;
  }
}

.chapter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #000000;
}

.link-all {
  border-style: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ff6b09;
  background-color: #f3f0f0;
}

.card {
  width: 290px;
  height: 350px;
  background-color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 352px;
    height: 350px;
    margin-bottom: 0;
  }
}

.cards {
  border-bottom: 1px solid #000000;
}

@media screen and (min-width: 768px) {
  .cards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 55px;
  }
}

.card-img {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .card-img {
    width: 352px;
    height: 275px;
  }
}

.title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.07em;
  color: #000000;
  margin-bottom: 4px;
}

.discount {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.price-before {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #bbbbbb;
  margin-right: 10px;
}

.price-now {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #ff6b09;
}

.price {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  color: #000000;
}

.info {
  margin-left: 19px;
  margin-bottom: 20px;
}

.footer {
  background-color: #ffffff;
  width: 320px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) {
  .footer {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
}
/*# sourceMappingURL=main.css.map */