.section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and(min-width:$mobile) {
    width: 290px;
  }

  @media screen and(min-width:$tablet) {
    position: relative;
    width: $tablet;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 25px;
    margin-bottom: 0;
  }

  @media screen and(min-width:$desctop){
    width:$desctop;
  }
}

.pages {
  display: inline-flex;
  @media screen and(min-width:$tablet) {
    margin-bottom: 60px;
  }
}

.page-number {
  width: 50px;
  height: 50px;
  background-color: $white-color;
  color: $main-color;
  border-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $main-color;
    color: $white-color;
  }

  &:not(:last-child) {
    margin-right: 1px;
  }
}

.icon-arrow {
  display: none;
  fill: $white-color;

  &:hover,
  &:focus {
    fill: $secondary-color;
  }

  @media screen and(min-width:$tablet) {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &.left {
      top: 16px;
      left: 22px;
    }

    &.right {
      top: 16px;
      right: 22px;
    }
  }

  position: absolute;
  width: 30px;
  height: 30px;

  &.left {
    top: 16px;
    left: 22px;
  }

  &.right {
    top: 16px;
    right: 22px;
  }

  @media screen and(min-width:$desctop){
    display: none;
  }
}
