.menu-button {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 25px 22px 23px 27px;

  border-style: none;
  background-color: $bg-color;
  border-right: 1px solid $main-color;

  cursor: pointer;

  @media screen and(min-width:$desctop){
    display: none;
  }
}

.icon-burger {
  width: 20px;
  height: 20px;
  background-size: contain;

  
}
