.menu-button{
    padding: 30px 25px;

    border-style: none;
    background-color: $bg-color;
    border-right: 1px solid $main-color;
    
    cursor: pointer;
}

.icon-burger {
  width: 15px;
  height: 10px;
  background-size: contain;
}
