.header {
  position: relative;

  display: flexbox;
  align-items: center;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 28px;
  border-bottom: 1px solid $main-color;
  height: 69px;

  @media screen and(min-width:$mobile) {
    width: $mobile;
  }

  @media screen and(min-width:$tablet) {
    width: $tablet;
    margin-bottom: 0;
    height: 143px;
  }

  @media screen and(min-width:$desctop) {
    width: $desctop;
  }
}

.reset-btn {
  display: none;

  @media screen and(min-width:$tablet) {
    display: flex;
    border: none;
    background-color: $bg-color;
    cursor: pointer;
    align-items: center;
    margin-right: 22px;
    margin-left: auto;
    padding: 24px;

    font-family: Montserrat;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;

    letter-spacing: 0.03em;
  }

   @media screen and(min-width:$desctop){
     display: flex;
   }
}

.reset-btn::before {
  content: " ";
  width: 24px;
  height: 24px;
  background-image: url(../../images/reset-btn.svg);
  background-size: contain;
  background-repeat: no-repeat;

  margin-right: 14px;
}

.links {
  @media screen and(min-width:$desctop) {
    display: flex;
    align-items: center;
  }
}

.links-list{
  @media screen and(min-width:$desctop){
    display: inline-flex;
  }
}

.section-link {
  display: none;

  @media screen and(min-width:$desctop) {
    display: inline-flex;

    &:not(:last-child) {
      margin-right: 42px;
    }

    &:first-child {
      margin-left: 20px;
    }
  }
}

.section-link>.link-style{
  font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: $main-color;
}
