.icon-search{
position: absolute;
bottom: 50%;
right: 24.5px;
transform: translateY(50%);

    width: 24px;
    height: 24px;
    cursor: pointer;

    @media screen and(min-width:$tablet){
        bottom: 70%;
        left:25px;
    }
}