.logo {
  position: absolute;
  top: 26px;
  left: 50%;
  // transform: translate(-50% -50%);

  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: $main-color;
}
