.sale {
  position: relative;
  
}

.hide {
  position: absolute;
  color: transparent;
  width: 0;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 27px;
}

.chapter {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;

  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $main-color;
}

.link-all{
    border-style: none;

    font-family: Montserrat;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.25;

letter-spacing: 0.06em;
text-decoration-line: underline;

color:$secondary-color;
background-color: $bg-color;
}
